@model RoomRental.Models.Invoice
@inject RoomRental.Services.RoomService rooms

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1>Удаление оплаты</h1>

    <h3>Вы действительно хотите удалить эту запись?</h3>
    <div class="det-container">
        <div>
            <label>@Html.DisplayNameFor(model => model.Amount):</label>
            @Html.DisplayFor(model => model.Amount)
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.ConclusionDate):</label>
            @Html.DisplayFor(model => model.ConclusionDate)
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.PaymentDate):</label>
            @Html.DisplayFor(model => model.PaymentDate)
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.RentalOrganization):</label>
            @Html.DisplayFor(model => model.RentalOrganization.Name)
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.ResponsiblePerson):</label>
            @Model.ResponsiblePerson.SNL
        </div>
        <div>
            <label>@Html.DisplayNameFor(model => model.Room):</label>
            @((await rooms.TryGet(Model.RoomId)).Building.Name), № @((await rooms.TryGet(Model.RoomId)).RoomNumber)
        </div>
    </div>
    <div class="det-container">
        <form asp-action="Delete">
            <input type="hidden" asp-for="InvoiceId" />
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-primary">Возврат к списку</a>
        </form>
    </div>
</div>