@using Microsoft.AspNetCore.Identity
@model ChangeRoleViewModel

<div class="container">
    <h1>Изменение ролей для пользователя @Model.UserEmail</h1>

    <div class="create-form-container">
        <form asp-action="Edit" method="post">
            <input type="hidden" name="userId" value="@Model.UserId" />
            <div class="form-group">
                @foreach (IdentityRole role in Model.AllRoles)
                {
                    <input type="checkbox" name="roles" value="@role.Name"
                    @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />

                    @role.Name <br />
                }
            </div>
            <button type="submit" class="submitButton-index">Добавить</button>
        </form>
    </div>
</div>